<section class="modal-section">
  <div class="modal-header">
      <h5 class="modal-title">Delete {{entityName}}</h5>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to delete the {{entityName | lowercase}}?</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-xs btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-xs btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</section>