<section class="modal-section">
    <div class="modal-header">
        <h5 class="modal-title">{{operation}} {{entityName}}</h5>
    </div>
    <div class="modal-body">
        <form name="forms.entityForm" class="form-horizontal" ng-class="{submitted: submitted}" novalidate>
            <div class="form-group">
                <label for="user" class="col-xs-3 control-label">User</label>
                <div class="col-xs-9">
                    <select data-ng-model="tempEntity.user" ng-options="user as user.email for user in users" class="form-control" ng-disabled="readOnly"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-xs-3 control-label">Name</label>
                <div class="col-xs-9">
                    <input type="text" data-ng-model="tempEntity.name" class="form-control" id="name" placeholder="Endowment Name" ng-disabled="readOnly" required>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-xs btn-primary" ng-click="ok()" ng-hide="readOnly">Submit</button>
        <button class="btn btn-xs btn-warning" ng-click="cancel()">{{cancelButtonName}}</button>
    </div>
</section>