<section class="modal-section">
    <div class="modal-header">
        <h5 class="modal-title">{{operation}} {{entityName}}</h5>
    </div>
    <div class="modal-body">

        <form name="forms.entityForm" class="form-horizontal" ng-class="{submitted: submitted}" novalidate>
            <div class="form-group">
                <label for="companyName" class="col-xs-2 control-label">Company Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.companyName" id="companyName" placeholder="Company Name" ng-disabled="readOnly" required>
                </div>

                <label for="contactName" class="col-xs-2 control-label">Contact Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.contactName" id="contactName" placeholder="Contact Name" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="address" class="col-xs-2 control-label">Address</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.address" id="address" placeholder="Address" ng-disabled="readOnly" required>
                </div>

                <label for="city" class="col-xs-2 control-label">City</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.city" id="city" placeholder="City" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="state" class="col-xs-2 control-label">State</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.state" id="state" placeholder="State" rng-disabled="readOnly" equired>
                </div>

                <label for="zipcode" class="col-xs-2 control-label">Zipcode</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.zipcode" id="zipcode" placeholder="Zipcode" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="country" class="col-xs-2 control-label">Country</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.country" id="country" placeholder="Country" ng-disabled="readOnly" required>
                </div>

                <label for="email" class="col-xs-2 control-label">Email</label>
                <div class="col-xs-4">
                    <input type="email" class="form-control" data-ng-model="tempEntity.email" id="email" placeholder="Email" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="phoneNumber" class="col-xs-2 control-label">Phone Number</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.phoneNumber" id="phoneNumber" placeholder="Phone Number" ng-disabled="readOnly" required>
                </div>

                <label for="numberOfEmployees" class="col-xs-2 control-label">Number of employees</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" data-ng-model="tempEntity.numberOfEmployees" id="numberOfEmployees" placeholder="No of employees" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="geographicalServiceArea" class="col-xs-2 control-label">Service Area</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.geographicalServiceArea" id="geographicalServiceArea" placeholder="Geographical Service Area" ng-disabled="readOnly" required>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-xs btn-primary" ng-click="ok()" ng-hide="readOnly">Submit</button>
        <button class="btn btn-xs btn-warning" ng-click="cancel()">{{cancelButtonName}}</button>
    </div>
</section>