<section class="modal-section">
    <div class="modal-header">
        <h5 class="modal-title">{{operation}} {{entityName}}</h5>
    </div>
    <div class="modal-body">
        <form name="forms.entityForm" class="form-horizontal" ng-class="{submitted: submitted}" novalidate>
            <div class="form-group">
                <label for="amount" class="col-xs-4 control-label">Amount</label>
                <div class="col-xs-8">
                    <input type="number" class="form-control" data-ng-model="tempEntity.paymentAmount" id="amount" placeholder="Payment Amount" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="lateFees" class="col-xs-4 control-label">Late Fees</label>
                <div class="col-xs-8">
                    <input type="number" class="form-control" data-ng-model="tempEntity.lateFees" id="lateFees" placeholder="Late Fees" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="paymentDate" class="col-xs-4 control-label">Payment Date</label>
                <div class="col-xs-8">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="tempEntity.paymentDate" is-open="$parent.paymentDateOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-disabled="readOnly"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openPaymentDate($event)" ng-disabled="readOnly"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-xs btn-primary" ng-click="ok()" ng-hide="readOnly">Submit</button>
        <button class="btn btn-xs btn-warning" ng-click="cancel()">{{cancelButtonName}}</button>
    </div>
</section>