<section class="modal-section">
    <div class="modal-header">
        <h5 class="modal-title">{{operation}} {{entityName}}</h5>
    </div>
    <div class="modal-body">

        <form name="forms.entityForm" class="form-horizontal" ng-class="{submitted: submitted}" novalidate>
            <div class="form-group">
                <label for="term" class="col-xs-3 control-label">Desired Loan Term</label>
                <div class="col-xs-3">
                    <input type="number" data-ng-model="tempEntity.desiredLoanTerm" class="form-control" id="term" placeholder="Loan Term" ng-disabled="readOnly" required>
                </div>

                <label for="agi" class="col-xs-3 control-label">House Hold AGI</label>
                <div class="col-xs-3">
                    <input type="number" data-ng-model="tempEntity.householdAGI" class="form-control" id="agi" placeholder="House Hold AGI" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="expenses" class="col-xs-3 control-label">Monthly Expenses</label>
                <div class="col-xs-3">
                    <input type="number" data-ng-model="tempEntity.monthlyExpenses" class="form-control" id="expenses" placeholder="Monthly Expenses" ng-disabled="readOnly" required>
                </div>

                <label for="total" class="col-xs-3 control-label">Loan Total</label>
                <div class="col-xs-3">
                    <input type="number" data-ng-model="tempEntity.loanTotal" class="form-control" id="total" placeholder="Loan Total" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="loanDate" class="col-xs-3 control-label">Loan Date</label>
                <div class="col-xs-3">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="tempEntity.loanDate" is-open="$parent.loanDateOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-disabled="readOnly"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openLoanDate($event)" ng-disabled="readOnly"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <label for="interest" class="col-xs-3 control-label">Interest Rate</label>
                <div class="col-xs-3">
                    <input type="number" data-ng-model="tempEntity.interestRate" class="form-control" id="interest" placeholder="Interest Rate" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-3">
                    <div class="checkbox">
                        <label>
                            <input data-ng-model="tempEntity.automaticPayments" type="checkbox" ng-disabled="readOnly">
                            Automatic Payments
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-xs btn-primary" ng-click="ok()" ng-hide="readOnly">Submit</button>
        <button class="btn btn-xs btn-warning" ng-click="cancel()">{{cancelButtonName}}</button>
    </div>
</section>