<section class="modal-section">
    <div class="modal-header">
        <h5 class="modal-title">{{operation}} {{entityName}}</h5>
    </div>
    <div class="modal-body">
        <form name="forms.entityForm" class="form-horizontal" ng-class="{submitted: submitted}" novalidate>
            <div class="form-group">
                <label for="dailyEnergy" class="col-xs-2 control-label">Daily Energy</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" data-ng-model="tempEntity.dailyEnergy" id="dailyEnergy" placeholder="Daily Energy" ng-disabled="readOnly" required>
                </div>

                <label for="systemACP" class="col-xs-2 control-label">System ACP</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" data-ng-model="tempEntity.systemACP" id="systemACP" placeholder="System ACP" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="systemDCP" class="col-xs-2 control-label">System DCP</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" data-ng-model="tempEntity.systemDCP" id="systemDCP" placeholder="System DCP" ng-disabled="readOnly" required>
                </div>

                <label for="systemDCV" class="col-xs-2 control-label">System DCV</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" data-ng-model="tempEntity.systemDCV" id="systemDCV" placeholder="System DCV" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="systemDCA" class="col-xs-2 control-label">System DCA</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" data-ng-model="tempEntity.systemDCA" id="systemDCA" placeholder="System DCA" ng-disabled="readOnly" required>
                </div>

                <label for="performanceDate" class="col-xs-2 control-label">Date</label>
                <div class="col-xs-4">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="tempEntity.date" is-open="$parent.performanceDateOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-disabled="readOnly"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openPerformanceDate($event)" ng-disabled="readOnly"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-xs btn-primary" ng-click="ok()" ng-hide="readOnly">Submit</button>
        <button class="btn btn-xs btn-warning" ng-click="cancel()">{{cancelButtonName}}</button>
    </div>
</section>