<section class="modal-section">
    <div class="modal-header">
        <h5 class="modal-title">{{operation}} {{entityName}}</h5>
    </div>
    <div class="modal-body">

       <form name="forms.entityForm" class="form-horizontal" ng-class="{submitted: submitted}" novalidate>

            <div class="form-group">
                <label for="installer" class="col-xs-2 control-label">Installer</label>
                <div class="col-xs-4">
                    <select data-ng-model="tempEntity.installer" ng-options="installer as installer.companyName for installer in installers" class="form-control" ng-disabled="readOnly"></select>
                </div>

                <label for="borrower" class="col-xs-2 control-label">Borrower</label>
                <div class="col-xs-4">
                    <select data-ng-model="tempEntity.borrower" ng-options="borrower as borrower.name for borrower in borrowers" class="form-control" ng-disabled="readOnly"></select>
                </div>
            </div>

            <div class="form-group">
                <label for="address" class="col-xs-2 control-label">Address</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.address" id="address" placeholder="Address" ng-disabled="readOnly" required>
                </div>

                <label for="city" class="col-xs-2 control-label">City</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.city" id="city" placeholder="City" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="state" class="col-xs-2 control-label">State</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.state" id="state" placeholder="State" ng-disabled="readOnly" required>
                </div>

                <label for="zipcode" class="col-xs-2 control-label">Zipcode</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.zipcode" id="zipcode" placeholder="Zipcode" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="country" class="col-xs-2 control-label">Country</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.country" id="country" placeholder="Country" ng-disabled="readOnly" required>
                </div>

                <label for="size" class="col-xs-2 control-label">Size</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" data-ng-model="tempEntity.size" id="size" placeholder="Size" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="roofType" class="col-xs-2 control-label">Roof Type</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.roofType" id="roofType" placeholder="Roof Type" ng-disabled="readOnly" required>
                </div>

                <label for="projectedAnnualGeneration" class="col-xs-2 control-label">Annual Generation</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" data-ng-model="tempEntity.projectedAnnualGeneration" id="projectedAnnualGeneration" placeholder="Projected Annual Generation" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="solarModuleManufacturer" class="col-xs-2 control-label">Module Manufacturer</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.solarModuleManufacturer" id="solarModuleManufacturer" placeholder="Solar Module Manufacturer" ng-disabled="readOnly" required>
                </div>

                <label for="solarInverterManufacturer" class="col-xs-2 control-label">Inverter Manufacturer</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.solarInverterManufacturer" id="solarInverterManufacturer" placeholder="Solar Inverter Manufacturer" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="solarModuleRating" class="col-xs-2 control-label">Module Rating</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" data-ng-model="tempEntity.solarModuleRating" id="solarModuleRating" placeholder="Solar Module Rating" ng-disabled="readOnly" required>
                </div>

                <label for="solarInverterType" class="col-xs-2 control-label">Inverter Type</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" data-ng-model="tempEntity.solarInverterType" id="solarInverterType" placeholder="Solar Inverter Type" ng-disabled="readOnly" required>
                </div>
            </div>

            <div class="form-group">
                <label for="installationDate" class="col-xs-2 control-label">Installation Date</label>
                <div class="col-xs-4">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="tempEntity.installationDate" is-open="$parent.installationDateOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-disabled="readOnly"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openInstallationDate($event)" ng-disabled="readOnly"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <label for="finishDate" class="col-xs-2 control-label">Finish Date</label>
                <div class="col-xs-4">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="tempEntity.finishDate" is-open="$parent.finishDateOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-disabled="readOnly"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openFinishDate($event)" ng-disabled="readOnly"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-xs btn-primary" ng-click="ok()" ng-hide="readOnly">Submit</button>
        <button class="btn btn-xs btn-warning" ng-click="cancel()">{{cancelButtonName}}</button>
    </div>
</section>