<section class="modal-section">
    <div class="modal-header">
        <h5 class="modal-title">Upload System Performance File</h5>
    </div>
    <div class="modal-body">
        <form name="forms.entityForm" class="form-horizontal" ng-class="{submitted: submitted}" novalidate>
            <div class="form-group">
                <div class="col-xs-8">
                    <button class="btn btn-sm btn-primary" data-ng-file-select data-ng-file-change="upload($files)">Select CSV file</button>
                </div>
            </div>
        </form>

        <br>

        <p><strong>Progress:</strong></p>
        <div class="" ng-if="status">
            <p ng-if="status.message">{{status.message}}</p>
            <progressbar animate="true" value="status.percent" type="success"><b>{{status.percent}}%</b></progressbar>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-xs btn-warning" ng-click="close()" ng-disabled="closeDisabled">Close</button>
    </div>
</section>