<section class="modal-section">
    <div class="modal-header">
        <h5 class="modal-title">{{operation}} {{entityName}}</h5>
    </div>
    <div class="modal-body">
        <form name="forms.entityForm" class="form-horizontal" ng-class="{submitted: submitted}" novalidate>
            <div class="form-group">
                <label for="email" class="col-xs-3 control-label">Email</label>
                <div class="col-xs-9">
                    <input type="email" data-ng-model="tempEntity.email" class="form-control" id="email" placeholder="Email" ng-disabled="readOnly" equired>
                </div>
            </div>
            <div class="form-group">
                <label for="role" class="col-xs-3 control-label">Role</label>
                <div class="col-xs-9">
                    <select data-ng-model="tempEntity.role" ng-options="role for role in roles" class="form-control" ng-disabled="readOnly" required>
                        <option value='' disabled>Select role</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-xs btn-primary" ng-click="ok()" ng-hide="readOnly">Submit</button>
        <button class="btn btn-xs btn-warning" ng-click="cancel()">{{cancelButtonName}}</button>
    </div>
</section>