<!DOCTYPE html>
<!--
    Copyright (C) 2015 TopCoder Inc., All Rights Reserved.

    Main html page for angular app.
    @version 1.0
    @author TCSASSEMBLER
-->
<html lang="en-US" ng-app="sunshotApp">
<head>

  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="description" content="description"/>
  <meta name="author" content="author"/>
  <title>Window Street</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css">
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css"/>
  <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.min.css">
  <link rel="stylesheet" href="assets/css/landing-style.css">
  <link rel="stylesheet" href="assets/css/style.css">
  
  <script type="text/javascript">
      var USER = <%- JSON.stringify(user || "") %>
  </script>
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="assets/img/logo.png">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" data-ng-show="user">
          <li ng-cloak>
            <a href="javascript:void(0);">
              <div class="avatar"><img src="assets/img/avatar.png" alt="avatar"></div>
              Welcome <b>{{user.email}}</b> <span data-ng-click="logout()">| Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="content" ng-cloak>
    <br>
    <div data-ui-view class="container"></div>
    <br>
  </div>

  <!-- footer start -->
  <div id="footer" class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="powered-by" class="col-lg-6 col-md-6 col-sm-6">
          <img src="assets/img/powered-by.png" alt="powered-by">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div id="footer-links">
            <a href="javascript:void(0);">Privacy Policy</a> | <a href="javascript:void(0);">Terms &amp; Condition</a>
          </div>
          <div id="copyright">
            <span>&#9400;Copyright 2015 Sundownment</span>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <!-- footer end -->

  <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="bower_components/angular-resource/angular-resource.js" type="text/javascript"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js" type="text/javascript"></script>

  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
  <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script src="bower_components/angular-ui-grid/ui-grid.min.js" type="text/javascript"></script>
  <script src="bower_components/lodash/lodash.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
  <script src="bower_components/ng-file-upload/FileAPI.min.js"></script>
  <script src="bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
  <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    
  <script src="app.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script src="services/EntityUtils.js" type="text/javascript"></script>
  <script src="services/UserService.js" type="text/javascript"></script>
  <script src="services/Resources.js" type="text/javascript"></script>
  <script src="services/DashboardService.js" type="text/javascript"></script>
  <script src="services/DashboardService.js" type="text/javascript"></script>
  <!-- <script src="controllers/controllerUtils.js" type="text/javascript"></script> -->
  <script src="controllers/AdminController.js" type="text/javascript"></script>
  <script src="controllers/LandingController.js" type="text/javascript"></script>
  <script src="controllers/LoginController.js" type="text/javascript"></script>
  <script src="controllers/ResourceController.js" type="text/javascript"></script>
  
</body>
</html>
