<!DOCTYPE html>
<!--
    Copyright (C) 2015 TopCoder Inc., All Rights Reserved.

    Main html page for angular app.
    @version 1.0
    @author TCSASSEMBLER
-->
<html lang="en-US" ng-app="sunshotApp">
<head>

  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="description" content="description"/>
  <meta name="author" content="author"/>
  <title>Window Street</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/landing-style.css">
  <link rel="stylesheet" href="assets/css/style.css">
  
</head>

<body data-ng-controller="ResetPasswordController">

  <div class="container">
    <div class="row vspacer40">
      <div class="col col-md-6 col-centered">
        <h2 class="text-center">Reset your password</h2>
        <p class="text-center vspacer20">Enter your new password below</p>
        <br><br>
        <form name="resetForm" class="form-horizontal" method="post" action="/resetPassword" role="form" no-validate>
          <input type="hidden" class="form-control" name="email" value="<%= email %>">
          <input type="hidden" class="form-control" name="code" value="<%= code %>">

          <div class="form-group">
            <label class="control-label col-sm-3">Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" name="password" data-ng-model="password" placeholder="Password" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Confirm Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" name="confirmPassword" data-ng-model="confirmPassword" placeholder="Confirm password" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
              <button type="submit" class="btn btn-primary" data-ng-disabled="resetForm.$invalid">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- footer start -->
  <hr>
  <div id="footer" class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="powered-by" class="col-lg-6 col-md-6 col-sm-6">
          <img src="assets/img/powered-by.png" alt="powered-by">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div id="footer-links">
            <a href="javascript:void(0);">Privacy Policy</a> | <a href="javascript:void(0);">Terms &amp; Condition</a>
          </div>
          <div id="copyright">
            <span>&#9400;Copyright 2015 Sundownment</span>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <!-- footer end -->
  
  <script src="bower_components/angular/angular.js" type="text/javascript"></script>
  <script>
  angular.module('sunshotApp', [])
    .controller('ResetPasswordController', function ($scope) {
      
    });
  </script>
</body>
</html>
