/* set font and bg color */
body {
  font-family: 'Montserrat', sans-serif;
  /*background-color: #efefef;
*/}

/* customise navbar */
.navbar-default {
  border-radius: 0;
  padding: 20px 0px;
  background-color: white;
  border: 2px solid #d6d6d6;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}
div.content {
  /*background-color: #efefef;*/
}

/* show user_name & avatar customise */
.avatar {
  background-color: #ebebeb;
  padding: 12px 10px;
  display: inline;
  margin-right: 10px;
  border-radius: 10rem;
}

.avatar > img {
  width: 22px;
  height: 27px;
}

#landing .row {
  margin: 0;
}

/* each widget is a well */
.well {
  background-color: white;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0px 0px 2px 2px #d8d8d8;
  -moz-box-shadow: 0px 0px 2px 2px #d8d8d8;
  box-shadow: 0px 0px 2px 2px #d8d8d8;
  padding: 20px 0px 0px 0px;
}

/* well title content start */
.well .title-content {
  padding-left: 15px;
  padding-right: 20px;
}

.well .title-content .title {
  color: #7a7a7a;
  font-size: 1.5rem;
  display: inline;
}

.well .title-content .help {
  color: #b3b3b3;
  float: right;
  font-size: 1.2rem;
}

.well .title-content .subtitle {
  display: block;
  font-size: 1rem;
  color: #b3b3b3;
  margin-left: 15px;
}
/* well title-content end */

/* well stat start */
.well .stat {
  padding-top: 15px;
  padding-bottom: 20px;  
}

.well .stat > .value {
  margin-left: 25px;
}

.well .stat > .value,  .well .stat > .units, .well .stat > .sm-units {
  font-weight: bold;
  font-size: 4rem;
  color: #5f5f5f;
  display: inline;
}

.well .stat > .units, .well > .stat > .sm-units {
  margin-left: 5px;
  font-size: 3.65rem;
  font-weight: lighter;
}

.well .stat > .sm-units {
  display: inline;
  font-size: 1.65rem;
}
/* well stat end */

/* view details section */
.well .view-details, .well .return-rate {
  border-top: 1px solid #e8e8e8;
  background-color: #fafafa;
  padding: 10px;
  text-align: center;
}

.well .view-details a {
  color: #9a9a9a;
  font-size: 1.4rem;
  font-weight: bold;
}

.well .return-rate {
  text-align: left;
}

.well .return-rate > h4 {
  color: #9a9a9a;
  margin: 0px 0px 0px 25px;
  font-size: 1.3rem;
  display: inline-block;
}

.well .return-rate > h4.value {
  color: #5f5f5f;
  font-weight: bold;
  margin-left: 0px;
}

/* style footer and links */
#footer {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 0;
  display: block;
  line-height: 10rem;
}

#footer-links, #copyright {
  display: inline;
  color: #d6d6d6;
  font-size: 1.3rem;
}

#footer-links a {
  color: #d6d6d6;
  margin: 0px 15px;
}

#copyright {
  color: #5d5d5d;
  float: right;
}

/* handle footer for different screens */
@media(max-width:1200px) {
  #footer {
    line-height: 4rem;
  }

  #footer-links a {
    margin: 0;
  }

  #copyright {
    float: none;
    display: block;
  }
}

/* transition while growing the div */
.row div {
  -webkit-transition: width 0.3s ease, margin 0.3s ease;
  -moz-transition: width 0.3s ease, margin 0.3s ease;
  -o-transition: width 0.3s ease, margin 0.3s ease;
  transition: width 0.3s ease, margin 0.3s ease;
}

/* chart style */
.full-chart {
  padding: 10px 30px;
}

.chart-title {
  text-align: left;
  margin-left: 25px;
  color: #5f5f5f;
}

.chart-title > span {
  color: #cdcdcd;
}

.chart-note {
  text-align: left;
  font-size: 1.4rem;
  color: #cdcdcd; 
}

/* map-canvas */
#map-canvas-container {
  padding: 20px;
}

#map-canvas {
  width: 100%;
  height: 350px;
}

/* timeline style */
.timeline span {
  display: inline-block;
}

.timeline .labels {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid #97bb3d;
}