
form.submitted .ng-invalid {
  border: 1px solid red;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.system-info {
  text-align: left;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.admin-section, .modal-section {
  font-size: 12px;
}
.cell-action {
  text-align: center;
  margin: 1px 2px;
}

.grid {
  height: 380px;
}

.vspacer40 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.vspacer80 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.vspacer20 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*.grid-header {
  background: #eeeeee;
  border: 1px solid #cacaca;
}
.glyphicon.glyphicon-log-out {
  margin-right: 5px;
}
.dl-horizontal > dd {
  margin-top: 10px;
  margin-bottom: 10px;
}*/