
To reset your password, click the link below. <br>
Your reset password link: <strong><%= resetPasswordLink %></strong>.<br/>

Windowstreet dashboard link: <strong><%= dashboardLink %></strong>.<br/>