
<section class="admin-section">

  <div class="row">
    <tabset>
        <!-- list of tabs for admin page -->
      <tab ng-repeat="tab in tabs" heading="{{tab.heading}}" active="tab.active" select="tabSelect(tab)">
      </tab>
    </tabset>

    <div data-ui-view></div>
  </div>
  
</section>