<section ng-cloak class="vspacer40">

    <div class="row">
        <div class="col-xs-10">
            <h4>{{entityName}} Listing</h4>
        </div>
        <div class="col-xs-2">
            <button type="button" ng-click="add()" class="btn btn-xs btn-success vspacer20">
                <i class="glyphicon glyphicon-plus"></i>
                New
            </button>
        </div>
    </div>
    <div class="row" ng-show="showGrid">
        <div class="col-xs-12">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-resize-columns class="grid"></div>
        </div>
    </div>

</section>