
<section id="landing" ng-cloak>

  <!-- main content start -->
  <div class="row">
    <!-- total clean energy widget start -->
    <div id="total-clean-energy" class="col-lg-6 col-md-6">
      <div class="well">
        <div class="row">
          <!-- top widget content -->
          <div class="title-content">
            <img src="assets/img/green-dot.png" alt="green dot">
            <h4 class="title">Total Clean Energy Created</h4>
            <a href="javascript:void(0);" class="help" data-toggle="tooltip" data-placement="left" title="Total Clean Energy Created">help?</a>
            <h4 class="subtitle">TOTAL ENERGY SINCE {{landingData.startYear}}-{{landingData.endYear}}</h4>
          </div>
        </div>
        <!-- show stats -->
        <div class="row">
          <div class="stat">
            <h1 class="value">{{landingData.totalCleanEnergy}}</h1>
            <h1 class="units">kWh</h1>
          </div>
        </div>
        <!-- chart div -->
        <div class="row">
          <div class="chart">
          </div>
        </div>
        <!-- view details section -->
        <div class="row">
          <div class="view-details">
            <div class="row timeline hidden">
              <!-- left arrow button -->
              <a href="#" class="previous-data" data-target="#total-clean-energy">
                <img src="assets/img/left-arrow-circle.png" class="pull-left" alt="go-left">
              </a>
              <!-- right arrow button -->
              <a href="#" class="next-data" data-target="#total-clean-energy">
                <img src="assets/img/right-arrow-circle.png" class="pull-right" alt="go-right">
              </a>
              <!-- labels bottom -->
              <div class="labels"></div>
            </div>
            <!-- view details link -->
            <a href="#" class="text-center expand-widget" data-target="#total-clean-energy">View Details</a>
          </div>
        </div>          
      </div>
    </div>
    <!-- widget end -->
    <!-- total carbon impact widget start -->
    <div id="total-carbon-impact" class="col-lg-6 col-md-6">
      <div class="well">
        <div class="row">
          <div class="title-content">
            <img src="assets/img/green-dot.png" alt="green-dot">
            <h4 class="title">Total Carbon Impact(C02 Savings)</h4>
            <a href="javascript:void(0);" class="help" data-toggle="tooltip" data-placement="left" title="Total Carbon Impact">help?</a>
            <h4 class="subtitle">TOTAL C02 SAVINGS SINCE {{landingData.startYear}}-{{landingData.endYear}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="stat">
            <h1 class="value">{{landingData.totalCarbonImpact}}</h1>
            <h1 class="sm-units">Million Metric Tons</h1>
          </div>
          <div class="chart">
          </div>
        </div>
        <div class="row">
          <div class="view-details">
            <a href="#" class="text-center expand-widget" data-target="#total-carbon-impact">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <!-- widget end -->
  </div>

  <div class="row">
    <!-- total money invested widget -->
    <div id="total-money-invested" class="col-lg-6 col-md-6">
      <div class="well">
        <div class="row">
          <div class="title-content">
            <img src="assets/img/green-dot.png" alt="green-dot">
            <h4 class="title">Total Amount Money Invested</h4>
            <a href="javascript:void(0);" class="help" data-toggle="tooltip" data-placement="left" title="Total Money Invested">help?</a>
            <h4 class="subtitle">TOTAL MONEY INVESTED {{landingData.startYear}}-{{landingData.endYear}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="stat">
            <h1 class="value">{{landingData.totalMoneyInvested}}</h1>
            <h1 class="units">USD</h1>
          </div>
        </div>
        <div class="row">
          <div class="chart"></div>
        </div>
        <div class="row">
          <div class="view-details">
            <a href="#" class="text-center">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <!-- widget end -->
    <!-- total money earned widget -->
    <div id="total-money-earned" class="col-lg-6 col-md-6">
      <div class="well">
        <div class="title-content">
          <img src="assets/img/green-dot.png" alt="green-dot">
          <h4 class="title">Total Money Earned</h4>
          <a href="javascript:void(0);" class="help" data-toggle="tooltip" data-placement="left" title="Total Money Earned">help?</a>
          <h4 class="subtitle">TOTAL MONEY EARNED SINCE {{landingData.startYear}}-{{landingData.endYear}}</h4>
        </div>
        <div class="stat">
          <h1 class="value">{{landingData.totalMoneyEarned}}</h1>
          <h1 class="units">USD</h1>
        </div>
        <div class="return-rate">
          <h4>Return Rate: </h4>
          <h4 class="value">{{landingData.returnRate}}% <img src="assets/img/up-arrow.png" alt="up-arrow"></h4>
        </div>
      </div>
    </div>
    <!-- widget end -->
  </div>

  <div class="row">
    <!-- total systems deployed widget -->
    <div id="total-systems-deployed" class="col-lg-12 col-md-12">
      <div class="well">
        <div class="row">
          <div class="title-content">
            <img src="assets/img/green-dot.png" alt="green-dot">
            <h4 class="title">Total Systems Deployed</h4>
            <a href="javascript:void(0);" class="help" data-toggle="tooltip" data-placement="left" title="Total Systems Deployed">help?</a>
            <h4 class="subtitle">TOTAL SYSTEMS DEPLOYED SINCE {{landingData.startYear}}-{{landingData.endYear}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="stat">
            <h1 class="value">{{landingData.totalInstalledSystem}}</h1>
            <h1 class="units">Units</h1>
          </div>
        </div>
        <div class="row">
          <div class="chart"></div>
        </div>
        <div class="row">
          <div class="view-details">
            <div class="row timeline hidden">
              <a href="#" class="previous-data" data-target="#total-systems-deployed">
                <img src="assets/img/left-arrow-circle.png" class="pull-left" alt="go-left">
              </a>
              <a href="#" class="next-data" data-target="#total-systems-deployed">
                <img src="assets/img/right-arrow-circle.png" class="pull-right" alt="go-right">
              </a>
              <div class="labels"></div>
            </div>
            <!-- show map canvas -->
            <div class="row">
              <div id="map-canvas-container" class="hidden">
                <div id="map-canvas"></div>
              </div>
            </div>
            <a href="#" class="text-center expand-widget" data-target="#total-systems-deployed">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <!-- widget end -->
  </div>

  <!-- include js -->
  <script type="text/javascript" src="assets/js/Chart.js"></script>
  <script type="text/javascript" src="assets/js/constants.js"></script>
  <script type="text/javascript" src="assets/js/util.js"></script>
  <script type="text/javascript" src="assets/js/chart-util.js"></script>
  <script type="text/javascript" src="assets/js/maps-util.js"></script>
</section>