
<br>
<section class="login">
  <div class="row">
    <div class="col col-md-8 col-centered">
      <h2 class="text-center">Log in to Windowstreet</h2>
      <br><br>

      <form class="form-horizontal" role="form" name="loginForm" no-validate>
        <div class="form-group">
          <label class="control-label col-sm-3">Email</label>
          <div class="col col-sm-7">
            <input class="form-control" type="email" placeholder="Email" data-ng-model="email" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Password</label>
          <div class="col col-sm-7">
            <input class="form-control" type="password" placeholder="Password" data-ng-model="password" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <button type="submit" class="btn btn-primary" data-ng-click="login()" data-ng-disabled="loginForm.$invalid">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>