<section class="vspacer40">
    <div class="row vspacer20">
        <div class="col-xs-2">
            <button type="button" ng-click="back()" class="btn btn-xs btn-success">
                <i class="glyphicon glyphicon-menu-left">
                </i> Back
            </button>
        </div>
    </div>

    <div class="row vspacer20">
        <div class="col-xs-12">
            <h4>System Performance Listing</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9">
            <p>System: {{system.id}}</p>
        </div>
        <div class="col-xs-3">
            <button type="button" ng-click="upload()" class="btn btn-xs btn-success vspacer20 cell-action">
                <i class="glyphicon glyphicon-upload"></i>
                Upload
            </button>
            <button type="button" ng-click="add()" class="btn btn-xs btn-success vspacer20 cell-action">
                <i class="glyphicon glyphicon-plus"></i>
                New
            </button>
        </div>
    </div>

    <div class="row" ng-show="showGrid">
        <div class="col-xs-12">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-resize-columns class="grid"></div>
        </div>
    </div>

</section>





